<!DOCTYPE html>
<html lang="en">
    <!-- header -->
    <%- include('./partials/header'); %>
    <body>
        <!-- navigation bar -->
        <%- include('./partials/navbar'); %>

        <!-- content -->
        <div class="container">
            <h1>Hallo Foodnesian</h1>
        </div>

        <!-- footer -->
        <%- include('./partials/footer'); %>
    </body>
</html>